.cart{
    margin-top: 200px;
}
.cart-item-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    text-transform: capitalize;
}
.cart-item-item{
    margin: 10px 0;
    color: black;
}
.cart-item-item img{
    width: 100px;
}
.cart hr{
    border: none;
    height: 1px;
}
.cross{
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 12vw;
}
.cart-total{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 55px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total-details p{
    text-transform: capitalize;
    font-size: 13px;
}
.cart-total hr{
    margin: 10px 0;
}
.cart-total button{
    /* border: none;
    color: white; */
    border: 1px solid tomato;
    color: white;
    background: tomato;
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.3s;
    font-weight: 500;
}
.cart-total button:hover{
    background: white;
    color: tomato;

   
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: #555;
}
.cart-promo-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background: #eaeaea;
    border-radius: 4px;
}
.cart-promo-input input{
    border: none;
    background: transparent;
    outline: none;
    padding-left: 10px;
}
.cart-promo-input button{
    width: 10vw;    
    padding: 12px 5px;
    background: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.cart-promo-input button:hover{
    background: white;
    color: black;
}
.icon{
    font-size: 30px;
    align-items: center;
    cursor: pointer;
}

@media (max-width:768px) {
    .cart{
        margin-top: 120px;
    }
    .cart-item-title {
        font-size: 20px;
        gap: 15px;
        grid-template-columns:1.4fr 1fr 1fr 1fr 1fr 0.5fr;
    }
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
    .cart-total button{
        width: 100%;
    }
}
@media (max-width:428px) {
    .cart{
        margin-top: 100px;
    }
    .cart-item-title{
        font-size: 13px;
        display: grid;
        grid-template-columns:1.3fr 1fr 1fr 1fr 1fr 0.5fr;
    }
    .cart-item-title p{
        font-size: 10px;
        font-weight: 500;
    }
    .cart-item img{
        width: 50px;
    }
    .cart-item-item{
        gap: 10px;
    }
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-total{
        gap: 70px;
    }
    .cart-total button{
        width: 100%;
    }
    .cart-promocode{
        justify-content: start;
    }
    .cart-promo-input button{
        width: 50vw;
    }
    .icon{
        font-size: 20px;
    }
}
