
.navbar{
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: white;
    width: 100%;
    box-shadow: 0 0 20px #00000015;
}
.logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    gap: 20px;
    color: #49557e;
    font-size: 20px;
    list-style: none;
    text-transform: capitalize;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar button{
    background: transparent;
    font-size: 20px;
    color: #49557e;
    padding: 10px 30px;
    border: 1px solid tomato;
    border-radius: 50px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.2s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    border-bottom: 2px solid #49557e;
    padding-bottom: 2px ;
}
.search-icon{
    position: relative;
}
 .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 999px;
    top: 2px; 
    right: -7px;
}
.icon{
    font-size: 35px;
}


@media (max-width:1024px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
        display: none;
    }
    .navbar-right{
        gap: 15px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
        font-weight: 500;
    }
}
@media (max-width:768px) {
    .navbar{
        padding: 20px 8%;
    }
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
        display: none;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
        font-weight: 500;
    }
}
@media (max-width:428px) {
    .navbar{
        padding: 20px 7%;
    }
    .navbar-menu{
       display: none;
    }
    .navbar-right{
        font-size: 10px;
        gap: 10px;
    }
    .navbar-right button{
        padding: 5px ;
        font-size: 10px;
        font-weight: 500;
    }
    .icon{
        font-size: 25px;
    }
}